/* В этом файле вы импортируете все шрифты для сайта. 
Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900; 
    src: url('Inter-Variable.woff2') format('woff2'); 
}
  
  @font-face {
    font-family: 'PressStart2P';
    font-style: normal;
    font-weight: normal;
    src: url('PressStart2P-Regular.woff') format('woff'); 
}
