/* В этом файле будут храниться все значения переменных в исходном состоянии,
 а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', 'Fantasy', sans-serif;
  --card-text-weight: 400;
  --card-heading-weight: 600; 
  /* переменные для prefers-color-scheme: light */
  --text-color: rgba(0, 0, 0, 1);
  --text-color-opacity: rgba(0, 0, 0, 0.6);
  --text-color-opposite: rgba(255, 255, 255, 1);
  --border-color: rgba(0, 0, 0, 1);
  --background-image: url(../images/background-light.png);
  --header-background-color: white;
  --section-background-color: white;
  --footer-background-color: white;
  --like-color: rgba(0, 0, 0, 1);
  --label-color: rgba(0, 0, 0, 0.5);
  --label-stroke-color: rgba(255, 255, 255, 0.5);
  --like-button-text-color: rgba(255, 255, 255, 1);
  --gradient-background: linear-gradient(180deg, rgba(0, 127, 12, 0.1) 0%, rgba(0, 67, 6, 0.1) 100%), url(../images/background-light.png);
}